


#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 1px 3px 6px 1px #00000024;
  position: relative;

  h1 {
    font-size: 1.5rem;
  }

  nav ul {
    display: flex;

    li > a {
      border: 1px solid black;
      padding: 0.5rem 1rem;

      .depth {
        position: absolute;
        left: 0;
        top: 56px;
        width: 100vw;
        /* height: 100px; */
        height: 0;
        overflow: hidden;
        /* transition: all 0.3s; */
        background-color: orange;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}